---
interface Props {
  first: number;
  last?: number;
  type?: string;
}
import fallback from "@assets/images/fallback.png";
import {postsData} from "@data/getPosts.js";
import { Image } from 'astro:assets';
const { first, last, type="card" } = Astro.props;

---
{
    postsData.map( function(trend, index) {
        
        


        let categories = postsData[index]?.categories?.nodes || [];
        let categorySlugs = categories.map(category => category.slug);
        let categoryNames = categories.map(category => category.name);
        let categoryIds = categories.map(category => category.databaseId);
        let categorySlug = postsData[index]?.categories?.nodes[0]?.slug;
        let categoryName = postsData[index]?.categories?.nodes[0]?.name;
        let categoryId = postsData[index]?.categories?.nodes[0]?.databaseId;
       
        

        if (index >= (first-1) && last && index < last) {
        if ( type && (type!=="slider")  ){
        return ( 
      
      <article class={
        [
          `${type}-note`,
          `note-${index}`,
          ...categoryIds.map(id => `cat-${id}`),
        ].join(' ')
      }>
          {trend.featuredImage && trend.featuredImage.node.sourceUrl ? (
          <a href=`/${trend.slug}`>
          <Image
              class="zoomIn"
              src={trend.featuredImage.node.sourceUrl}
              alt={trend.title}
              width="800"
              height="600"
          />
          </a>
          ) : (
          <img
              src={fallback.src}
              width={fallback.width}
              height={fallback.height}
              alt="Fallback"
          />
          )}
    
      <div class="text">     
              {/* <a href=`/secciones/${categorySlug}`>
                  <h4 class=`label`>{categoryName}</h4>
              </a> */}
              {/* Si son varias categorias */}
              <div class="label-box">
                                    {categoryIds.map( (categoryId, index) => (
                        <a  href={`/secciones/${categorySlugs[index]}`}>
                            <h4 class="label">{categoryNames[index]}</h4>
                         </a>
                    ) )}
                    </div>
               <h2 class="title">
                  <a href={trend.slug}>{trend.title}</a>
              </h2>
          </div>
      </article>

        ) 
    } 
    if ( type && type=="slider" ){
        return ( 
        <div class="swiper-slide">

<article class=`slider-note note-${index} cat-${categoryId}` >
                                {/* foto */}
                
                                    {trend.featuredImage && trend.featuredImage.node.sourceUrl ? (
                                        <Image
                        src={trend.featuredImage.node.sourceUrl}
                        alt={trend.title}
                        width="400"
                        height="250"
                    />
                    ) : (
                    <img
                        src={fallback.src}
                        width={fallback.width}
                        height={fallback.height}
                        alt="Fallback"
                    />
                                    )}
                       
                                <div class="text">     
                                {/* Si son varias categorias */}
                                <div class="label-box">
                                    {categoryIds.map( (categoryId, index) => (
                        <a  href={`/secciones/${categorySlugs[index]}`}>
                            <h4 class="label">{categoryNames[index]}</h4>
                         </a>
                    ) )}
                    </div>
                                        <p class="date">25 Enero 2024</p>
                                        <h3 class="title">
                                        <a href={trend.slug}>{trend.title}</a>
                                        </h3>
                                    </div>
                                </article>

        </div>
        ) 
    }
}
    })
    }

