---
// import { SEO } from "astro-seo";
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import {ViewTransitions} from 'astro:transitions';
import '@fontsource-variable/public-sans';
import 'aos/dist/aos.css'; 
import '@assets/css/global.css';

export interface Props {
  title?: string;
  featuredImage?: string;
}
const { title } = Astro.props;
const {featuredImage} = Astro.props;
---

<!DOCTYPE html>

<html lang="es" >
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title> {title} | Astro News</title>
    <meta name="description" content="Astro and WordPress working together" />
    <meta name="generator" content={Astro.generator} />
    <link rel="prefetch" href={featuredImage} as="image">
    <ViewTransitions />
  </head>

  <body>
    <Header />
    <slot />
    <Footer />

    <script> 
      import AOS from "aos";
      AOS.init(
        { duration: 1000, easing: "ease-out-cubic", once: false }
      );
      
     window.addEventListener('load', () => {
       setTimeout(() => {
         AOS.refresh();
       }, 1000);
     });
    </script>
</body>
</html>
